h1 {
    outline: 1px solid  yellow;
    text-align:center;
}
.caja {
    outline: 1px solid red;
    width: 400px;
    padding:15px; 
    border:1px solid #999;
    margin: 16px;
    float: left;
    margin-right: 8px;
}

img {
outline: 1px solid purple;
max-width:100% ;
}
p{
    outline: 1px solid orange;
}